
.hidden {
  display: none !important;
}

.slider-inner {
  will-change: scroll-position;
  width: 100%;
  display: flex;
  /* required for pager elements to be calculated correctly */
  position: relative;
  gap: 0 20px;
  margin: 1rem 0;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.slider-inner::-webkit-scrollbar {
  display: none;
}

.slider-item {
  flex: 0 0 100%;
  scroll-snap-align: start;
  position: relative;
}

.slider-button:disabled {
  opacity: 0.85;
  pointer-events: none;
}

.slider-item .three-two {
  width: 100%;
  aspect-ratio: 3 / 2;
  object-fit: cover;
  object-position: center;
}

.slider-item .four-three {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  object-position: center;
}

.slider-item .sixteen-nine {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center;
}

.slider-item .nine-sixteen {
  width: 100%;
  aspect-ratio: 9 / 16;
  object-fit: cover;
  object-position: center;
  background-color: #d3d3d3;
}

@media screen and (min-width: 576px) {
  .slider-item {
    flex: 0 0 50%
  }
}

@media screen and (min-width: 768px) {
  .slider-item {
    flex: 0 0 33%
  }
}

@media screen and (min-width: 992px) {
  .slider-item {
    flex: 0 0 25%
  }
}

.slider-pager {
  min-height: 1rem;
  /* background-color: green; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.slider-pager-item {
  cursor: pointer;
  position: relative;
  border: none;
  border-radius: 50%;
  padding: 0.5rem;
  margin: 0.25rem;
  background-color: #d3d3d3;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

/* Hide the pager numbers */
.slider-pager-item span {
  display: none;
}

.slider-pager-item:focus,
.slider-pager-item:hover {
  background-color: #686868;
}

.slider-pager-item.active {
  background-color: rgb(0, 0, 0) !important;
}

.slider-pager-item span {
  position: absolute;
  pointer-events: none;
}

#slider-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1100;
}

#slider-modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* // class to stop body scrolling when modal is :active */
.slider-modal-open {
  overflow: hidden;
}

.slider-modal-inner {
  position: relative;
  width: clamp(300px, 95vw, 418px);
  max-height: 90vh;
  /* aspect-ratio: 9/16; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #484848;
}

.slider-modal-content {
  width: 100%;
  height: auto;
}

.slider-modal-inner img, .slider-modal-inner iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 9/16;
  /* object-fit: contain;
  object-position: center; */
}

.slider-modal--close {
  position: absolute;
  top: -2.5rem;
  right: 0;
  padding: 0.5rem;
  cursor: pointer;
  color: white;
}

.slider-modal-buttons {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2rem;
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  color: white;
  justify-content: center;
}

.slider-modal--indicators {
  position: absolute;
  top: -1rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
}

.slider-modal--indicator {
  background-color: white;
  flex: 0 1 33%;
  height: 0.2rem;
}

.slider-modal--indicator.active {
  height: 0.3rem;
  flex: 0 1 50%;
}